.main-panel {
    position: relative;

    .search-line {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: #fff;
        opacity: .3;
    }

    .popup {
        display: flex;
        flex-direction: column;
        position: absolute;
        max-width: 200px;
        padding: 12px;
        margin: 8px;
        background-color: #fff;
        border-radius: 4px;
        font-family: Arial;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

        &-date {
            margin-top: 0;
            margin-bottom: 8px;
            font-weight: normal;
        }

        &-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-line-info {
            text-align: left;
        }

        &-line-name {
            margin: 4px 0;
        }

        &-line-value {
            margin: 4px 0;
            font-size: 22px;
            font-weight: bold;
        }
    }
}