.range-panel {
    position: relative;
    line-height: 0;
    margin-bottom: 12px;

    .range-box {
        position: absolute;
        height: 100%;
        border-width: 3px 0;
        border-style: solid;
        box-sizing: border-box;
        cursor: pointer;
        opacity: .4;
    }

    .range-marker {
        position: absolute;
        height: 100%;
        top: 0;
        cursor: pointer;
        border-width: 0;
        border-style: solid;
        opacity: .4;

        &.marker-start {
            left: 0;
            border-right-width: 8px;
        }

        &.marker-end {
            right: 0;
            border-left-width: 8px;
        }
    }
}