<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if (htmlWebpackPlugin.options.env === "production") { %>
        <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.chart.css %>">
    <%}%>
    <title>Chart</title>
</head>
<body>
    <div class="chart"></div>
    <script src="<%= htmlWebpackPlugin.files.chunks.chart.entry %>"></script>
</body>
</html>